.offer {
  padding: 40px;
  color: $color-white;
  font-size: 16px;
  line-height: 20px;
  background-color: $color-primary-500;
  background-image: url("../img/background/catback.jpg");
  text-align: center;
}
