@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  padding: 11px 12px;
  display: inline-block;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .button {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 1;
  }
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

.card-row__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.card-row__list {
  color: #444444;
  line-height: 1;
}

@media (min-width: 768px) {
  .card {
    background-color: #f2f2f2;
  }
}

.card__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.card__list {
  color: #444444;
  font-size: 12px;
}

.catalog-additional {
  padding: 20px 0;
}

.catalog-additional__container {
  display: grid;
}
@media (min-width: 1300px) {
  .catalog-additional__container {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.catalog-additional__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 1300px) {
  .catalog-additional__heading {
    grid-column: 1/-1;
  }
}

.catalog-additional__list {
  list-style: none;
}
@media (min-width: 1300px) {
  .catalog-additional__list {
    grid-column: 1/-2;
  }
}

.catalog-list {
  padding: 20px 0;
}

@media (min-width: 768px) {
  .catalog-list__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1300px) {
  .catalog-list__container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 64px;
  }
}

.catalog-sections {
  padding: 20px;
}
@media (min-width: 1300px) {
  .catalog-sections {
    padding-top: 82px;
  }
}

@media (min-width: 1300px) {
  .catalog-section__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-sections__item {
  position: relative;
  padding: 24px 20px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .catalog-sections__item {
    padding: 77px 316px 52px 52px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__item {
    padding: 47px 52px 55px;
  }
}
.catalog-sections__item + .catalog-sections__item {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 30px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 0px;
  }
}

.catalog-sections__heading {
  position: relative;
  min-height: 50px;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 68px;
  display: flex;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 36px;
}
@media (min-width: 768px) {
  .catalog-sections__heading {
    position: static;
    padding-left: 0;
    font-size: 36px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__heading {
    position: relative;
    min-height: 100px;
    margin-bottom: 39px;
    padding-left: 162px;
  }
}
.catalog-sections__heading::before, .catalog-sections__heading::after {
  content: "";
  position: absolute;
}
.catalog-sections__heading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .catalog-sections__heading::before {
    top: calc(50% - 100px);
    right: 62px;
    left: auto;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__heading::before {
    top: calc(50% - 50px);
    right: auto;
    left: 0;
    width: 100px;
    height: 100px;
  }
}
.catalog-sections__heading::after {
  background-size: contain;
}

.catalog-sections__heading--slim::after {
  top: -3px;
  left: 7px;
  width: 36px;
  height: 50px;
  background-image: url("../img/icons/cat-slim.svg");
}
@media (min-width: 768px) {
  .catalog-sections__heading--slim::after {
    top: calc(50% - 110px);
    right: 92px;
    left: auto;
    width: 140px;
    height: 194px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__heading--slim::after {
    top: calc(50% - 54px);
    left: 15px;
    width: 70px;
    height: 97px;
  }
}

.catalog-sections__heading--pro::after {
  top: 11px;
  left: -10px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icons/cat-pro.svg");
}
@media (min-width: 768px) {
  .catalog-sections__heading--pro::after {
    top: calc(50% - 56px);
    right: 28px;
    left: auto;
    width: 268px;
    height: 112px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__heading--pro::after {
    top: calc(50% - 22px);
    left: -19px;
    width: 134px;
    height: 56px;
  }
}

.catalog-sections__text {
  margin: 0;
  color: #444444;
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog-sections__text {
    border: none;
    margin-bottom: 48px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__text {
    margin-bottom: 23px;
  }
}

.catalog-sections__link {
  display: grid;
  grid-template-columns: max-content 32px;
  align-items: center;
  column-gap: 17px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__link {
    font-size: 20px;
  }
}
.catalog-sections__link::after {
  content: "";
  width: 24px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-image: url("../../img/icons/arrow.svg");
}
.catalog-sections__link:hover::after {
  width: 32px;
}
.catalog-sections__link:active {
  opacity: 0.3;
}
.catalog-sections__link:active::after {
  width: 32px;
}

.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__adress {
  color: #444444;
  line-height: 20px;
}

.container {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}

.control {
  font-family: "Oswald", "Arial", sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.developer {
  color: #444444;
  text-decoration: none;
  font-size: 16px;
}

.example {
  padding: 20px;
  background-color: #ebebeb;
}
@media (min-width: 1300px) {
  .example .exapmple__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.example__text {
  color: #444444;
}

.example__list {
  text-align: center;
}

.example__title {
  color: #444444;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
}

.example__definition {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.example__spending {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

.field-group {
  padding: 20px 0;
  border: none;
}

.field-group__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 24px;
}

.field-group__list {
  padding: 0;
  list-style: none;
}

@media (min-width: 1300px) {
  .field-group__list--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

@media (min-width: 768px) {
  .field-group__list--additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
@media (min-width: 1300px) {
  .field-group__list--additional {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.field {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.field__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form {
  padding: 20px;
}

@media (min-width: 1300px) {
  .form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__group {
  margin: 0;
}

@media (min-width: 1300px) {
  .form__group--contacts,
.form__group--comments,
.form__group--additional {
    grid-column: 1/-1;
  }
}

@media (min-width: 1300px) {
  .form__footer {
    grid-column: 1/-1;
  }
}

.logo:not(.logo--footer) {
  display: grid;
  grid-template-columns: 34px 1fr;
  align-items: center;
  gap: 16px;
}
.logo:link:hover {
  opacity: 0.8;
}
.logo:link:active {
  opacity: 0.6;
}
.logo img {
  display: block;
}

.logo--footer {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .logo--footer {
    padding: 8;
    justify-content: center;
  }
}

.logo__sign {
  justify-self: center;
}

.offer {
  padding: 40px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  background-color: #68b738;
  background-image: url("../img/background/catback.jpg");
  text-align: center;
}

.page-footer {
  padding: 20px;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .page-footer__container {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
    margin: 0 auto;
    padding: 24px 0;
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;
  }
}
@media (min-width: 1300px) {
  .page-header__nav {
    width: 1220px;
  }
}

@media (min-width: 1300px) {
  .page-header__nav--main {
    grid-template-columns: 174px 50%;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .page-header__bar {
    width: 320px;
    margin: 0 auto;
    padding: 12px 20px 13px;
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    gap: 16px;
    align-items: center;
  }
}

.page-header__logo {
  grid-column: 1/3;
}

.page-header__menu {
  margin: 0;
}
@media (max-width: 767px) {
  .page-header__menu {
    background-color: #ffffff;
  }
  .page-header__nav--closed .page-header__menu {
    display: none;
  }
  .page-header__nav--opened .page-header__menu {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
  }
}
@media (min-width: 768px) {
  .page-header__menu {
    margin-right: -17px;
  }
}

.page-header__toggler {
  height: 40px;
  width: 40px;
  display: none;
  background-position: 50% 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../img/icons/burger.svg");
  border: none;
}
@media (max-width: 767px) {
  .page-header__nav--closed .page-header__toggler {
    display: block;
  }
  .page-header__nav--opened .page-header__toggler {
    display: block;
    background-image: url("../img/icons/close.svg");
  }
}
@media (min-width: 768px) {
  .page-header__toggler {
    display: none;
  }
}

.page-main__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}
@media (min-width: 768px) {
  .page-main__heading {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__subheading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.page {
  min-width: 320px;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
}
@media (min-width: 768px) {
  .page {
    font-size: 16px;
    line-height: 1.5;
  }
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.process {
  padding: 20px;
  padding-bottom: 49px;
}

.process__list {
  padding: 0;
  margin: 0;
  color: #444444;
  list-style: none;
}
@media (min-width: 768px) {
  .process__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 36px;
    counter-reset: process;
  }
}
@media (min-width: 1300px) {
  .process__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.process__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .process__item {
    position: relative;
    z-index: 0;
    min-height: 280px;
    padding-top: 40px;
    padding-right: 72px;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    counter-increment: process;
  }
}
@media (max-width: 767px) {
  .process__item + .process__item {
    margin-top: 20px;
  }
}
.process__item::before {
  content: "";
  width: 60px;
  height: 60px;
  margin-top: -2px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 768px) {
  .process__item::before {
    width: 80px;
    height: 80px;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .process__item::after {
    content: counter(process);
    position: absolute;
    top: 0;
    right: 80px;
    z-index: -1;
    color: #f2f2f2;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 1;
  }
}

.process__item--leaf::before {
  background-image: url("../img/icons/leaf.svg");
}

.process__item--powder::before {
  background-image: url("../img/icons/powder.svg");
}

.process__item--meal::before {
  background-image: url("../img/icons/meal.svg");
}

.process__item--weight::before {
  background-image: url("../img/icons/weight.svg");
}

.promo {
  padding-top: 27px;
  text-align: center;
}
@media (max-width: 767px) {
  .promo {
    color: #ffffff;
    background-color: #63a63b;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url("../img/background/promo-small.jpg"), linear-gradient(#63a63b, #63a63b 302px, #ffffff 302px);
  }
}
@media (min-width: 768px) {
  .promo {
    color: #000000;
    background-color: transparent;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .promo {
    position: relative;
  }
  .promo::after {
    content: "";
    position: absolute;
    top: -200px;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: -2;
    background-color: #63a63b;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: url("../img/background/promo-large.jpg");
  }
}

@media (min-width: 768px) {
  .promo__container {
    position: relative;
    padding: 0 90px 526px;
  }
}
@media (min-width: 1300px) {
  .promo__container {
    min-height: 582px;
    padding: 20px 610px 95px 80px;
  }
}

.promo__heading {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
}
@media (min-width: 768px) {
  .promo__heading {
    margin-bottom: 41px;
    font-size: 60px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__text {
    margin-bottom: 49px;
    font-size: 20px;
  }
}

.promo__image {
  width: 280px;
}
@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 708px;
    height: 609px;
  }
}
@media (min-width: 1300px) {
  .promo__image {
    top: 30px;
    left: calc(50% - 162px);
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 100%;
}
@media (min-width: 768px) {
  .promo__button {
    width: auto;
    justify-self: start;
  }
}

.show-more__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.show-more__text {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.site-menu {
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  list-style: none;
}
@media (max-width: 767px) {
  .site-menu {
    border-top: 1px solid #e6e6e6;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .site-menu {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .site-menu__item {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: 768px) {
  .site-menu__item--active {
    position: relative;
  }
  .site-menu__item--active::after {
    content: "";
    position: absolute;
    bottom: 4px;
    right: 17px;
    left: 17px;
    height: 2px;
    background-color: #68b738;
  }
}

.site-menu--main .site-menu__item--active::after {
  background-color: #ffffff;
}

.site-menu__link {
  display: block;
  padding: 23px 22px 22px;
  color: #000000;
  text-decoration: none;
}
.site-menu__link:link:hover {
  opacity: 0.6;
}
.site-menu__link:link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .site-menu__link {
    padding: 17px;
  }
}

@media (min-width: 1300px) {
  .site-menu--main .site-menu__link {
    color: #ffffff;
  }
}

.switcher__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */